<div class="row">
    <div class="col-12">
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary">Basic Details</button>
            <button type="button" class="btn btn-primary">Variant</button>
            <button type="button" class="btn btn-primary">Images</button>
            <button type="button" class="btn btn-primary">Specification</button>
            <button type="button" class="btn btn-primary">Reviews</button>
          </div>
        </div>
</div>
<div class="row">
    <div class="col-12">
        <app-product-form></app-product-form>
    </div>
    <div class="col-12">
        <app-varients></app-varients>
    </div>
    <div class="col-12">
        <app-vendor-registrations></app-vendor-registrations>
    </div>
    <div class="col-12">
        <app-specification></app-specification>
    </div>
    <div class="col-12">
        <app-productreview></app-productreview>
    </div>

</div>