<div class="row">
  <div class="col-{{isSecondDivVisible ? '8' : '12'}}">
    <div class="card">
      <!-- User List -->
      <div class="card-header" [ngClass]="{'bg-success': isFirstDiv} ">
        <div class="row">
          <div class="col-6 text-white">
            <h4>Product Review List</h4>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-info   text-dark" (click)="addClasses()">Add</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>CreatedDate</th>
              <th>ReviewTitle</th>
              <th>Review</th>
              <th>ProductRating By</th>
              <th>ShowOnWebsite</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!istableloader">
              <tr *ngFor="let user of vendorArray; let sr = index">
                <td>{{ sr + 1 }}</td>
                <td>{{ user.createdDate }}</td>
                <td>{{ user.reviewTitle }}</td>
                <td>{{ user.review }}</td>
                <td>{{ user.productRating }}</td>
                <td>{{ user.showOnWebsite }}</td>
                <td>
                  <i class="fa fa-edit text-success me-3"></i>
                  <i class="fa fa-trash text-danger"></i>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="istableloader">
              <tr>
                <td colspan="8">
                  <div class="spinner-border text-primary">

                  </div>
                  <div class="spinner-border text-secondary">

                  </div>
                  <div class="spinner-border text-success">

                  </div>
                  <div class="spinner-border text-danger">

                  </div>
                  <div class="spinner-border text-warning">

                  </div>
                  <div class="spinner-border text-info">

                  </div>
                  <div class="spinner-border text-light">

                  </div>
                  <div class="spinner-border text-dark">

                  </div>
                </td>
              </tr>

            </ng-container>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-{{isSecondDivVisible ? '4' : '0'}}" *ngIf="isSecondDivVisible">
    <div class="card">

      <div class="card-header" [ngClass]="{'bg-success': isSecondDivVisible}">
        <div class="row">
          <div class="col-6 text-white">
            <h4> Add Review</h4>
          </div>
          <div class="col-6  text-end">
            <button class="btn btn-danger" (click)="removeClasses()">Close</button>
          </div>
        </div>
      </div>


      <div class="card-body">
        <form #form="ngForm">
          <div class="row">
            <div class="col-6">
              <label for="">Select customerId </label>
              <select class="form-control" placeholder="Select customer name" [(ngModel)]="userObj.customerId">
                <option *ngFor="let customer of customerArray" [value]="customer.customerId">{{ customer.firstName }}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="">Select productId</label>
              <select class="form-control" placeholder="Select product" placeholder="Select product name"
                [(ngModel)]="userObj.productId">
                <option *ngFor="let product of  productArray" [value]="product.productId">{{ product.shortName }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-3">
              <label for="">Created Date</label>
              <input type="date" name="createdDate" class="form-control" placeholder="Select Created Date"
                [(ngModel)]="userObj.createdDate" placeholder="Enter User Role">
            </div>
            <div class="col-6 p-3">
              <label for="">Review Title</label>
              <input type="text" name="reviewTitle" class="form-control" placeholder=" Enter Review Title"
                [(ngModel)]="userObj.reviewTitle" placeholder="reviewTitle">
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-3">
              <label for="">Review</label>
              <input type="text" name="Enter Review" required class="form-control" placeholder=" Enter Review "
                [(ngModel)]="userObj.review" placeholder="review">
            </div>
            <div class="col-6 p-3">
              <label for="">Product Rating</label>
              <input type="text" name="productRating" class="form-control" placeholder=" Enter Product Rating "
                [(ngModel)]="userObj.productRating" placeholder="Enter productRating">
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-3">
              <label for="">ShowOn Website</label>
              <input type="checkbox" name="showOnWebsite" [(ngModel)]="userObj.showOnWebsite"
                placeholder="Enter showOnWebsite">
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <button class="btn btn-secondary" (click)="resetForm()">Reset</button>
            </div>
            <div class="col-6">
              <p-toast position="bottom-center" key="bc"></p-toast>
              <button label="Save" class="p-button-success" pButton pRipple type="button" (click)="onSaveUser()" style="padding: 7px 15px 10px 15px; color: #ffffff;
                      background: #198754;
                      border: 1px solid #146c43;"></button>
              <!-- <button class="btn btn-sm btn-success" (click)="onSaveUser()" [disabled]="form.invalid"> <span
                *ngIf="isapicalload" class="spinner-border spinner-border-sm"></span>Save</button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
