<main class="demo-page-content">
  <div class="row">
    <div class="col-12 mt-3">
      <section>
        <form>
          <div class="href-target " id="input-types"></div>
          <h1 class="fw-bold text-primary"> Product Details
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-align-justify">
              <line x1="21" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="21" y1="18" x2="3" y2="18" />
            </svg> -->
            <button class="btn btn-danger rounded-pill ms-5 fw-bold ">Close</button>
          </h1>
          <div class="nice-form-group fw-bold">
            <label>Name</label>
            <input type="text" placeholder="Enter name" name="productObj.fullName" [(ngModel)]="productObj.fullName" />
          </div>
          <div class="nice-form-group fw-bold">
            <label> Short Name</label>
            <input type="text" placeholder="Short name" name="productObj.shortName"
              [(ngModel)]="productObj.ShortName" />
          </div>
          <!-- <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Product Id</label> <br>
              <input type="text" placeholder="Product Id" name="productObj.productId" [(ngModel)]="productObj.productId" />
            </div>
            <div class="ms-4">
              <label>Vendor Id</label> <br>
              <input type="text" placeholder="Vendor Id" name="productObj.vendorId" [(ngModel)]="productObj.vendorId" />
            </div>
          </div> -->
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>SKU</label> <br>
              <input type="text" placeholder="sku" name="productObj.sku" [(ngModel)]="productObj.sku" />
            </div>
            <div class="ms-4">
              <label>Short Description</label> <br>
              <input type="text" placeholder="" name="productObj.shortDescription"
                [(ngModel)]="productObj.shortDescription" />
            </div>
            <div class="ms-4">
              <label>Long Description</label> <br>
              <input type="text" placeholder="" name="productObj.longDescription"
                [(ngModel)]="productObj.longDescription" />
            </div>
            <!-- <div class="ms-4">
              <label>Product Category Id</label> <br>
              <input type="text" placeholder="Category Id" name="productObj.productCategoryId" [(ngModel)]="productObj.productCategoryId" />
            </div> -->
          </div>
          <div class="fw-bold pt-2">
            <label>Product Type</label> <br>
            <select type="text" name="productObj.productType" [(ngModel)]="productObj.productType"
              class="form-control form-select">
              <option value="Product Type" *ngFor="let product  of productArray" [value]="product.productType">
                {{product.ProductType}}</option>
            </select>
          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>ProductBasePrice</label> <br>
              <input type="text" placeholder="" name="productObj.productBasePrice"
                [(ngModel)]="productObj.productBasePrice" />
            </div>
            <div class="ms-4">
              <label>SearchKeyWords</label> <br>
              <input type="search" placeholder="" name="productObj.SearchKeyWords"
                [(ngModel)]="productObj.SearchKeyWords" />
            </div>
          </div>

          <div class="nice-form-group fw-bold">
            <label>Thumbnail Image Url</label>
            <input type="url" placeholder="www.google.com" [(ngModel)]="productObj.thumbnailImageUrl"
              name="productObj.thumbnailImageUrl" />
          </div>
          <!-- <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Is Varient Available</label> <br>
              <input type="checkbox" placeholder="" name="productObj.isStockAvailable"
                [(ngModel)]="productObj.isVarientAvailable" />
            </div>
            <div class="ms-4">
              <label>Is Specification Available</label> <br>
              <input type="checkbox" placeholder="" name="productObj.isSpecificationAvailable"
                [(ngModel)]="productObj.isSpecificationAvailable" />
            </div>
          </div> -->
          <fieldset class="nice-form-group ">
            <div class="nice-form-group fw-bold">
              <input type="checkbox" [(ngModel)]="productObj.isVarientAvailable" id="check-1"
                name="productObj.isVarientAvailable" />
              <label for="check-1">Is Varient Available</label>
            </div>
            <div class="nice-form-group fw-bold">
              <input type="checkbox" [(ngModel)]="productObj.isSpecificationAvailable" id="check-1"
                name="productObj.isSpecificationAvailable" />
              <label for="check-1">Is Specification Available</label>
            </div>
            <div class="nice-form-group fw-bold">
              <input type="checkbox" [(ngModel)]="productObj.isStockAvailable" id="check-1"
                name="productObj.isStockAvailable" />
              <label for="check-1">Is Stock Available</label>
            </div>
          </fieldset>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Modified On</label> <br>
              <input type="text" placeholder="" name="productObj.modifiedOn" [(ngModel)]="productObj.modifiedOn" />
            </div>
            <div class="ms-4">
              <label>Modified By</label> <br>
              <input type="search" placeholder="" name="productObj.modifiedBy" [(ngModel)]="productObj.modifiedBy" />
            </div>
            <div class="ms-4">
              <label>Created On</label> <br>
              <input type="text" placeholder="" name="productObj.createdOn" [(ngModel)]="productObj.createdOn" />
            </div>
            <div class="ms-4">
              <label>Created By</label> <br>
              <input type="search" placeholder="" name="productObj.createdBy" [(ngModel)]="productObj.createdBy" />
            </div>
          </div>
          <div>
            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <button type="button" (click)="onSave()" *ngIf="productObj.productId == 0"
                  class="btn btn-success me-5">Save</button>
                <button type="button" (click)="updateProduct()" *ngIf="productObj.productId !== 0"
                  class="btn btn-success me-5">Save</button>
              </div>
              <div class="ms-4">
                <button class="btn btn-danger ms-5" type="reset" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>
          <script src="https://gist.github.com/nielsVoogt/e25c9c8f2b8456bbd1239b775d21333f.js"></script>
        </form>
      </section>
    </div>
  </div>
</main>