<main class="demo-page-content">
  <div class="row">
    <div class="col-8">
      <tr *ngFor="let prod of productArray"></tr>
    </div>
    <div class="col-12">
      <section>
        <form>
          <div class="href-target " id="input-types"></div>
          <h1 class="fw-bold text-primary">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-align-justify">
              <line x1="21" y1="10" x2="3" y2="10" />
              <line x1="21" y1="6" x2="3" y2="6" />
              <line x1="21" y1="14" x2="3" y2="14" />
              <line x1="21" y1="18" x2="3" y2="18" />
            </svg> -->
            Product Details
            <button class="btn btn-danger rounded-pill ms-5 fw-bold">Close</button>
          </h1>
          <div class="nice-form-group fw-bold">
            <label>Name</label>
            <input type="text" placeholder="Enter name" name="productObj.fullName" [(ngModel)]="productObj.fullName" />
          </div>

          <div class="nice-form-group fw-bold">
            <label> Short Name</label>
            <input type="text" placeholder="Short name" name="productObj.shortName" [(ngModel)]="productObj.ShortName" />
          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Product Id</label> <br>
              <select name="productObj.productId" class="form-control form-select" [(ngModel)]="productObj.productId">
                <option value="prod.productId" *ngFor="let prod of productArray">{{prod.productId}}</option>
              </select>
            </div>
            <div class="ms-4">
              <label>Vendor Id</label> <br>
              <select name="productObj.vendorId" class="form-select form-control" [(ngModel)]="productObj.vendorId">
                <option value="prod.vendorId" *ngFor="let prod of productArray">{{prod.vendorId}}</option>
              </select>
            </div>
            <div class="ms-4">
              <label>Category Id</label> <br>
              <select name="productCategoryId" class="form-select" [(ngModel)]="productObj.productCategoryId">
                <option value="prod.productCategoryId" *ngFor="let prod of productArray">{{prod.productCategoryId}}
                </option>
              </select>
            </div>
            <div class="ms-4">
              <label>Product Type</label> <br>
              <select type="text" name="productObj.productType" [(ngModel)]="productObj.productType" class="form-control form-select">
                <option value="prod.ProductType" *ngFor="let prod  of productArray">{{prod.ProductType}}</option>
              </select>
            </div>
          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>SKU</label> <br>
              <input type="text" name="productObj.sku" placeholder="sku" value="" [(ngModel)]="productObj.sku" />
            </div>
            <div class="ms-4">
              <fieldset class="nice-form-group ">
                <div class="fw-bold">
                  <label for="check-1" class="me-1">Is Stock Available</label>
                  <input type="checkbox" name="productObj.isStockAvailable" [(ngModel)]="productObj.isStockAvailable" id="check-1" />
                </div>
              </fieldset>
            </div>
          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Short Description</label> <br>
              <input type="text" placeholder="" name="productObj.shortDescription" [(ngModel)]="productObj.shortDescription" />
            </div>
            <div class="ms-2">
              <label>Long Description</label> <br>
              <angular-editor [placeholder]="'Enter text here...'" name="productObj.longDescription" [(ngModel)]="productObj.longDescription"
                [config]="editorConfig"></angular-editor>
            </div>
          </div>

          <div class="fw-bold pt-2">

          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>ProductBasePrice</label> <br>
              <input type="text" placeholder=""name="productObj.productBasePrice" [(ngModel)]="productObj.productBasePrice" />
            </div>
            <div class="ms-2">
              <label>SearchKeyWords</label> <br>
              <input type="search" placeholder="" name="productObj.SearchKeyWords" [(ngModel)]="productObj.SearchKeyWords" />
            </div>
          </div>

          <div class="nice-form-group fw-bold">
            <label>Thumbnail Image Url</label>
            <input type="url" placeholder="www.google.com" name="productObj.thumbnailImageUrl" [(ngModel)]="productObj.thumbnailImageUrl" value="" />
          </div>

          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Is Varient Available</label> <br>
              <input type="text" placeholder="" name="productObj.isVarientAvailable" [(ngModel)]="productObj.isVarientAvailable" />
            </div>
            <div class="ms-2">
              <label>Is Specification Available</label> <br>
              <input type="text" placeholder="" name="productObj.isSpecificationAvailable" [(ngModel)]="productObj.isSpecificationAvailable" />
            </div>
          </div>
          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Modified On</label> <br>
              <input type="text" placeholder="" name="productObj.modifiedOn" [(ngModel)]="productObj.modifiedOn" />
            </div>
            <div class="ms-2">
              <label>Modified By</label> <br>
              <input type="search" placeholder="" name="productObj.modifiedBy" [(ngModel)]="productObj.modifiedBy" />
            </div>
          </div>

          <div class="d-flex pt-2 fw-bold">
            <div class="">
              <label>Created On</label> <br>
              <input type="text" placeholder="" name="productObj.createdOn" [(ngModel)]="productObj.createdOn" />
            </div>
            <div class="ms-2">
              <label>Created By</label> <br>
              <input type="search" placeholder="" name="productObj.createdBy" [(ngModel)]="productObj.createdBy" />
            </div>
          </div>
          <div>

            <div class="d-flex pt-2 fw-bold">
              <div class="">
                <button type="button" (click)="onSave()" class="btn btn-success me-5">Save</button>
              </div>
              <div class="ms-2">
                <button class="btn btn-danger ms-5" type="reset" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>
          <script src="https://gist.github.com/nielsVoogt/e25c9c8f2b8456bbd1239b775d21333f.js"></script>

        </form>
      </section>
    </div>
  </div>
</main>